<div class="d-flex justify-content-center mb-4">
  <%= link_to "All", root_path, class:"btn btn-success rounded-pill mx-2 px-4" %>
  <%= button_to "Drinks", products_path, method: :get, params: { category_tag: "Drinks" }, class:"btn btn-success rounded-pill mx-2 px-4" %>
  <%= button_to "Foods", products_path, method: :get, params: { category_tag: "Foods" }, class:"btn btn-success rounded-pill mx-2 px-4" %>
  <%= button_to "Others", products_path, method: :get, params: { category_tag: "Others" }, class:"btn btn-success rounded-pill mx-2 px-4" %>
</div>