/* HEADER SECTION */
header {
  height: 150px;
  padding-top: 20px;
  background-color: black;
  color: white;
}
#header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
header .brand {
  letter-spacing: 15px;
  text-transform: uppercase;
}
header ul{
  width: 30%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;  
}
header ul li{
  display: inline-block;
}

/* BANNER SECTION */
#banner {
  height: 500px;
  background-color: gray;
}

/* PRODUCT LISTING SECTION */
#filter {
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
}
#grid-list {
  height: 100vh;
  background-color: lightgrey;
}

/* FOOTER SECTION */
footer {
  background-color: black;
  color: lightgray;
  padding: 50px;
}
#info {
  margin-bottom: 40px;
}
#info .title {
  color: white;
  font-weight: 600;
}
#info input {
  width: 120px;
  background-color: black;
  color: lightgrey;
  outline: none;
  border: none;
  border-bottom: 2px solid lightgrey;
  margin-bottom: 15px;
}
#social {
  text-align: center;
}


