/* HEADER SECTION */
header {
  height: 150px;
  padding-top: 20px;
  background-color: black;
  color: white;
}
#header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
#header-top i {
  width: 50px;
}
header .brand {
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-left: 50px;
}
header ul {
  width: 30%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;  
}
header ul li {
  display: inline-block;
}
header ul li a {
  text-decoration: none;
  color: lightgray;
}
#menu .dropdown{
  color: lightgray;
}
#menu .dropdown:hover{
  cursor: pointer;
}

/* BANNER SECTION */
#banner {
  height: 90vh;
  background-image: url(https://i.ibb.co/BjF5ghc/avril.jpg);
  background-size: cover;         
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner .title {
  color: crimson;
  font-style: italic;
  font-size: 100px;
  letter-spacing: 20px;
  word-spacing: 25px;
}

/* PRODUCT LISTING SECTION */
#filter {
  display: flex;
  margin: 30px 20px;
  justify-content: space-between;
}
#filter select {
  background-color: white;
  padding: 5px 10px;
  margin-right: 30px;
  border-radius: 20px;
  border-color: gray;
}
#grid-list {
  width: 85%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}
#grid-list .col {
  margin-bottom: 20px;
}
#grid-list .col img {
  width: 100%;
  border: 3px solid lightseagreen;
}
#grid-list .col p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

/* FOOTER SECTION */
footer {
  background-color: black;
  color: lightgray;
  padding: 50px;
}
#info {
  margin-bottom: 40px;
}
#info .title {
  color: white;
  font-weight: 600;
}
#info input {
  width: 120px;
  background-color: black;
  color: lightgrey;
  outline: none;
  border: none;
  border-bottom: 2px solid lightgrey;
  margin-bottom: 15px;
}
#social {
  text-align: center;
}
#social i {
  font-size: 30px;
  width: 70px;
}


