<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <%= link_to "Homepage", root_path, class:"navbar-brand ms-5 fs-4" %>
  <ul class="navbar-nav me-5">
    <li class="nav-item me-2">
      <%= link_to "Login", login_path, class:"btn btn-outline-primary" %>
    </li>
    <li class="nav-item">
      <%= link_to "Signup", signup_path, class:"btn btn-outline-info" %>
    </li>
  </ul>
</nav>